.section__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__card {
        width: 100%;
        max-width: 310px;
        height: 360px;
        display: flex;
        flex-wrap: wrap;
        gap: 79px;
        padding: 40px;
        border: 1px solid #ddd;

        &__img {
            width: 80px;
            height: 80px;
            border-radius: 10px;
            background: rgb(69, 69, 69);
        }

        &__title {
            display: flex;
            flex-wrap: wrap;

            &__h3 {
                color: rgb(69, 69, 69);
                font-family: Manrope;
                font-size: 20px;
                font-weight: 700;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
            }

            &__p {
                color: rgb(69, 69, 69);
                font-family: Manrope;
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 850px) {
    .section__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (max-width: 500px) {
    .section__wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;

        &__card {
            width: 160px;
            height: 233px;
            gap: 9px;
            padding: 15px;

            &__img {
                width: 40px;
                height: 40px;
                padding: 5px;
            }

            &__title {
                display: flex;
                flex-wrap: wrap;

                &__h3 {
                    width: 111px;
                    height: 63px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 130%;
                    letter-spacing: 0%;
                }

                &__p {
                    width: 127px;
                    height: 72px;
                    color: rgb(69, 69, 69);
                    font-family: Manrope;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 130%;
                    letter-spacing: 0%;
                }
            }
        }
    }

    .section__wrapper__card__img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}